vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Feb 2008 15:04:51 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|02 Feb 2008 15:04:51 -0000
vti_filesize:IR|5062
vti_cachedlinkinfo:VX|S|menuarrow.gif
vti_cachedsvcrellinks:VX|FSUS|jscal/menuarrow.gif
vti_backlinkinfo:VX|
